.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sideBarLeft {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sideBarLeft Button, .vbox .gestion {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-background-color: white;
    -fx-cursor: hand;
}


.sideBarLeft Button:hover, .vbox > .gestion:hover{
    -fx-background-color: teal;
    -fx-text-fill: #ffffff;
}

.vbox .gestion {
    -fx-border-color: #E8E8E8 #E8E8E8 #E8E8E8 #E8E8E8;
}

.table-view{
    -fx-border-color: gainsboro;
    -fx-table-cell-border-color: transparent;
    -fx-background-color: white;
    -fx-arrows-visible: false;
}

.table-row-cell:selected {
    -fx-background-color: teal;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #ffab87;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: NORMAL;
    -fx-alignment: CENTER_LEFT;
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;

}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}

.image-view-wrapper{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.image-view-wrapper:hover{
    -fx-background-color: lightseagreen;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1 1 1 1;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: teal;
}


/*-------------------------------------- DATEPICKER --------------------------------------*/

.date-picker-popup {
    -fx-padding: 1;
    -fx-background-color: lightgray;
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 4;
    -fx-background-color: #EFEFEF;
}

.date-picker-popup > .month-year-pane > .spinner {
    -fx-spacing: 4;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}

.date-picker-popup > .month-year-pane > .spinner > .spinner-label {
    -fx-font-size: 1.083333em;
    -fx-alignment: CENTER;
    -fx-text-fill: #606060;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .cell:disabled > * {
    -fx-opacity: 0.4;
}

.date-picker-popup > * > .week-number-header-cell,
.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.833333em;
    -fx-padding: 0;
    -fx-text-fill: #0070C0;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-padding: 0;
}

.date-picker-popup > * > .day-cell {
    -fx-text-fill: black;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-cell-size: 2.75em;
}

.date-picker-popup > * > .day-cell:focused {
    -fx-background-color: #CCE8FF;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: #EFEFEF;
}

.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-font-size: 1.0em;
    -fx-fill: #ff5050;
}

.date-picker-popup > * > .today {
    -fx-background-insets: 1;
    -fx-border-color: #606060;
    -fx-border-insets: 1;
}

.date-picker-popup > * > .today:focused {
    -fx-background-color: #CCE8FF;
}

.date-picker-popup > * > .selected {
    -fx-background-color: #CCE8FF;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-text-fill: #aaaaaa;
}

.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text {
    -fx-fill: #aaaaaa;
}